/.idea
/.vscode
/ud6/prueba-laravel/node_modules
/ud6/prueba-laravel/public/build
/ud6/prueba-laravel/public/hot
/ud6/prueba-laravel/public/storage
/ud6/prueba-laravel/public/plugins
/ud6/prueba-laravel/storage/*.key
/ud6/prueba-laravel/vendor
/ud6/prueba-laravel/.env
/ud6/prueba-laravel/.env.backup
/ud6/prueba-laravel/.phpunit.result.cache
/ud6/prueba-laravel/Homestead.json
/ud6/prueba-laravel/Homestead.yaml
/ud6/prueba-laravel/auth.json
/ud6/prueba-laravel/npm-debug.log
/ud6/prueba-laravel/yarn-error.log
/ud6/prueba-laravel/.idea
/ud6/prueba-laravel/.vscode
