:root {
  --background-color: antiquewhite;
  --darkest-color: black;
  --lightest-color: white;
  --section-color: #ecddca;
  --h2-color: rgb(48, 48, 48);
  --button-color: rgb(248, 242, 234);
  --table-secondary-color: rgb(222, 206, 183);
  --th-color: rgb(214, 192, 162);
  --code-color: #223;
  --error-color: rgb(239, 159, 159);
}

.dark {
  --background-color: black;
  --darkest-color: antiquewhite;
  --lightest-color: black;
  --section-color: #171717;
  --h2-color: rgb(231, 230, 230);
  --button-color: 
  --table-secondary-color: rgb(35, 32, 29);
  --th-color: rgb(86, 77, 65);
  --code-color: ;
  --error-color: rgb(154, 74, 74);
}

.dark a {
  color: cadetblue;
}

html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7rem;
  background-color: var(--background-color);
  color: var(--darkest-color);
}

header {
  border-bottom: solid 1px var(--darkest-color);
  padding: 3rem;
}

header > * {
  max-width: 900px;
  margin: 0 auto;
}

code {
  font-family: "Ubuntu Mono", monospace;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--code-color);
}

button {
  padding: 0.5rem 1rem;
  margin: 2rem;
  font-size: .86rem;
  background-color: var(--button-color);
  border: solid 1px var(--darkest-color);
  color: var(--darkest-color);
  border-radius: 5px;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px 3px var(--th-color);
}

button:active {
  transform: scale(1);
}

table {
  margin: 2rem auto;
  text-align: center;
  border-collapse: collapse;
  font-size: 1rem;
}

th {
  background-color: var(--th-color);
}

th,
td {
  padding: 0.5rem 1rem;
  border: solid 1px var(--darkest-color);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  border-top: solid 1px var(--darkest-color);
}

.hidden {
  display: none !important;
}

.scroll-auto {
  overflow: auto;
}

.error {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  background-color: var(--error-color);
  border: solid 1px var(--darkest-color);
}

.exercice-section {
  padding: 5rem 2rem;
  border-bottom: solid 1px grey;
  background-image: linear-gradient(
    to bottom,
    var(--section-color),
    var(--background-color)
  );
}

.exercice-section:last-of-type {
  border-bottom: 0;
}

#tabla-estados-variable tr:nth-child(even) {
  background-color: var(--table-secondary-color);
}

.exercice-section-title {
  margin: 0 auto;
  padding: 1rem 0;
  color: var(--h2-color);
}

.exercice-section-title > pre {
  margin: 0;
}

.exercice-section > * {
  display: block;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.theme-switcher {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: default;
}

#var-table * {
  padding: .3rem;
}

#theme-light:hover,
#theme-dark:hover {
  color: var(--th-color);
}

.theme-active,
.theme-active:hover {
  color: grey !important;
}

#main-title {
  border-top: dashed 1px var(--darkest-color);
  border-left: dashed 1px var(--darkest-color);
}

#main-subtitle {
  margin-top: 1.2rem;
  font-weight: 400;
  border-bottom: dashed 1px var(--darkest-color);
  border-right: dashed 1px var(--darkest-color);
}

#main-title > em {
  font-style: normal;
  font-size: 3rem;
}

#tabla-tablas-multiplicar {
  text-align: center;
}

#tabla-tablas-multiplicar th,
#tabla-tablas-multiplicar td {
  min-width: 2rem;
}

#show-multiplication {
  width: max-content;
  display: flex;
  margin-bottom: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--h2-color);
  background-color: var(--lightest-color);
  border-radius: 10px;
  border: solid 1px var(--darkest-color);
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 8px 0px var(--button-color);
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 13px;
  }
}
